@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --endorsed: 193 100% 51%;
    --endorsed-foreground: 210 20% 98%;
    --negated: 0 84.2% 60.2%;
    --negated-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --endorsed: 193 100% 51%;
    --endorsed-foreground: 210 20% 98%;
    --negated: 0 84.2% 60.2%;
    --negated-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter";
  }
}

@layer utilities {
  .ally {
    --primary: 221.2 83.2% 53.3%;
    &.dark {
      --primary: 217.2 91.2% 59.8%;
    }
  }

  .enemy {
    --primary: 0 72.2% 50.6%;
    &.dark {
      --primary: 0 72.2% 50.6%;
    }
  }

  .container-margin {
    @apply mx-md sm:mx-lg md:mx-xl xl:mx-2xl;
  }

  .container-padding {
    @apply px-md sm:px-lg md:px-xl xl:px-2xl;
  }

  .container-grid {
    @apply grid grid-cols-4 sm:grid-cols-8 lg:grid-cols-12 gap-xs md:gap-sm xl:gap-md;
  }

  .no-scaling-stroke > * {
    vector-effect: non-scaling-stroke;
  }

  .circle-dashed-1 > circle {
    stroke-dasharray: 1;
  }
  .circle-dashed-2 > circle {
    stroke-dasharray: 2;
  }
  .circle-dashed-3 > circle {
    stroke-dasharray: 3;
  }
}
